{# post_info #}
{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}{{post.title }} {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% thumbnail post.image "800x600" as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
    </div>
    <div class="col">
      <h1>{{ post.title }}</h1>
      <ul>
        <li>
          Дата публикации {{ post.pubdate }}
        </li>
        <li>
          В категории <a href="{% url 'blog:category_info' post.category.slug %}">{{post.category }}</a>
        </li>
        <li>
          Автор поста <a href="#">{% if post.author.get_full_name %}{{post.author.get_full_name }}{% else %}
          {{ post.author }} {% endif %}</a>
        </li>
      </ul>
      {% if user != post.author %}
      {% if is_follow %}
      <a href="{% url 'blog:unfollow' post.author.username %}" role="button" class="btn" style="background-color:#fcebc7; ">Отписаться</a>
      {% else %}
      <a href="{% url 'blog:follow' post.author.username %}" role="button" class="btn" style="background-color:#fcebc7; ">Подписаться</a>
      {% endif %}
      {% endif %}

      <a href="{% if is_liked %}{% url 'blog:del_like' post.id %}{% else %}{% url 'blog:add_like' post.id %} {% endif %}"
         style="text-decoration: none;" type="button">
        {% include 'includes/heart.html' %}
      </a>{{ likes }}
    </div>
  </div>
  <article>
    <p>{{ post.text }}</p>
  </article>
</div>
{% endblock %}
