{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
{% if author.get_full_name %} {{ author.get_full_name }}
{% else %} {{author.username}} {% endif %}
{% endblock %}
{% block content %}

<div class="container py-5">
  <div class="row">
    <div class="col">

      {% if author.profile.image %}
      {% thumbnail author.profile.image "500x500" as im %}
      <img src="{{ im.url }}">
      {% endthumbnail %}
      {% else %}
      <div>
        <img src="{% static 'img/blank_avatar.png' %}" width="500">
      </div>
      {% endif %}
    </div>

  <div class="col">
    <div>
      <h5>{% if author.get_full_name %} {{ author.get_full_name }}
        {% else %} {{author.username}} {% endif %}</h5>
      <ul>
        {% if author.email %}
        <li>
          email: {{author.email}}
        </li>
        {% endif %}
        <li>
          Дата рождения:
          {% if author.profile.birthday %} {{author.profile.birthday }}
          {% else %} не указан {% endif %}
        </li>
        <li>
          Количесвто постов: {{ count }}
        </li>
        <li>
          Количесвто подписчиков: {{ author.follows_count  }}
        </li>
        <li>
          Количесвто лайков: {{ author.likes_count }}
        </li>

      </ul>
    </div>
    {% if user != author %}
    {% if is_follow %}
    <a href="{% url 'blog:unfollow' author.username %}" role="button" class="btn" style="background-color:#fcebc7; ">Отписаться</a>
    {% else %}
    <a href="{% url 'blog:follow' author.username %}" role="button" class="btn" style="background-color:#fcebc7; ">Подписаться</a>
    {% endif %}
    {% endif %}
    {% if user == author %}
    <a href="" role="button" class="btn" style="background-color:#fcebc7; ">Редактировать профиль</a>
    {% endif %}
  </div>
</div>
{% include 'includes/posts.html' %}


</div>

{% endblock %}