<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="70" height="70" viewBox="0 0 400 400"
     xml:space="preserve">
<desc>Created with Fabric.js 3.6.2</desc>
  <defs>
</defs>
  <g transform="matrix(0.78 0 0 0.78 200 200)">
<rect style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;"
      x="-128" y="-128" rx="0" ry="0" width="50" height="50"/>
</g>
  <g transform="matrix(0.78 0 0 0.78 199.73 199.31)">
<path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4;
fill: rgb(0,0,0); fill-rule: nonzero; opacity: 0.2;"
      transform=" translate(-127.66, -127.11)"
      d="M 133.7 211.9 l 81 -81 c 19.9 -20 22.8 -52.7 4 -73.6 a 52 52 0 0 0 -75.5 -2.1 L 128 70.5 L 114.9 57.3 c -20 -19.9 -52.7 -22.8 -73.6 -4 a 52 52 0 0 0 -2.1 75.5 l 83.1 83.1 A 8.1 8.1 0 0 0 133.7 211.9 Z"
      stroke-linecap="round"/>
</g>
  <g transform="matrix(0.78 0 0 0.78 199.73 199.31)">
<path style="
{% if is_liked %}
stroke: rgb(255,0,0);
 {% else %}
 stroke: rgb(0,0,0);
  {% endif %}
 stroke-width: 16; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4;
{% if is_liked %}
 fill: rgb(240,0,0);
 {% else %}
 fill: rgb(255,255,255);
 {% endif %}
 fill-rule: nonzero; opacity: 1;"
      transform=" translate(-127.66, -127.11)"
      d="M 133.7 211.9 l 81 -81 c 19.9 -20 22.8 -52.7 4 -73.6 a 52 52 0 0 0 -75.5 -2.1 L 128 70.5 L 114.9 57.3 c -20 -19.9 -52.7 -22.8 -73.6 -4 a 52 52 0 0 0 -2.1 75.5 l 83.1 83.1 A 8.1 8.1 0 0 0 133.7 211.9 Z"
      stroke-linecap="round"/>
</g>
</svg>